@import "tailwindcss";

:root {
  --primary: #000AC0;
  --primary-foreground: #F3F3F3;
  --background: #F3F3F3;
  --foreground: #000340;
  --destructive: #FA3636;
  --destructive-foreground: #F3F3F3;
  --secondary: #181924;
  --secondary-foreground: #F3F3F3;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-bricolage: var(--font-bricolage);
  --font-instrument: var(--font-instrument);
  --text-xl: 112px;
  --text-large: 96px;
  --text-medium: 36px;
  --text-small: 24px;
  --text-xs: 16px;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-bricolage), Arial, Helvetica, sans-serif;
}

@layer base {
  h1 {
    @apply text-medium md:text-large
  }

  h2 {
    @apply text-small md:text-medium
  }

  h3 {
    @apply text-small
  }

  .btn {
    @apply flex items-center text-xs gap-[8px] md:text-small px-[32px] py-[16px] rounded-full cursor-pointer
  }

  .btn:not(.large){
    @apply px-[16px] py-[8px] text-xs
  }

  .btn {
    transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  .btn[data-variant="primary"] {
    color: var(--primary-foreground);
    background-color: var(--primary);
  }

  .btn[data-variant="primary"]:hover , .btn[data-variant="primary"].highlighted {
    filter: drop-shadow(0 0 32px var(--primary));
  }

  a:hover:not(.link-btn) {
    color: var(--primary);
  }

  .lucide.small {
    @apply size-[20px]
  }
}
